body {
    background-color: #fff7e6;
    margin-bottom: 7rem;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #ffbb36;
    margin-top: 0;
    position: sticky;
    height: 5rem;
}

span {
    color: white;
}

#navbarHeading {
    padding-left: 1rem;
    text-shadow: 2px 2.5px 1px rgba(141, 141, 141, 0.829);
    font-family: "Gotham-Medium";
    font-size: larger;
}

#slogan {
    text-shadow: 2px 2.5px 1px rgba(141, 141, 141, 0.829);
    font-family: "Gotham-Thin";
    font-size: larger;
    text-align: right;
}

h2 {
    width: 75rem;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.05em;
    font-family: "Gotham-Thin";
    font-size: large;
    margin: 7rem 10rem 3rem 10rem;
}

h2 span {
    color: black;
    font-weight: bolder;
    background: #fff7e6;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


.card {
    padding: 20px;
    max-width: 80rem;
    box-shadow: 9px 7px 2px #e6e0d3;
    margin-top: 2rem;
}

#fruitImages {
    margin-left: 1rem;
    height: 10rem;
    width: auto;
}


#fruitName {
    font-weight: bold;
}

.card-body {
    margin-left: 3rem;
}

.card-title {
    font-family: "Gotham-Book";
}

.card-text {
    max-width: 50rem;
    text-align: justify;
    font-family: "Gotham-Light";
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.priceTag {
    float: right;
    margin-left: 18rem;
    right: 13%;
    bottom: 5%;
}

.green-rectangle {
    height: 45px;
    background-color: #8ccc4e;
    padding: 10px 40px 10px 40px;
    position: relative;
}

.green-rectangle p {
    color: white;
    text-shadow: 2px 2.5px 1px rgba(141, 141, 141, 0.829);
    font-family: "Gotham-Book";
    position: relative;
}

.green-rectangle:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 45px solid #8ccc4e;
    border-left: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}